.real-estate-section {
  margin-top: 5vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.real-estate-section > * {
  flex: 0 0 23%;
  margin: 1% 1%;
}
@media only screen and (max-width: 768px) {
  .real-estate-section {
    margin-top: 5vh;
    display: block;
  }
  .real-estate-section > * {
    width: 90vw;
    margin-top: 3vh;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .real-estate-section {
    margin-top: 5vh;
    display: block;
  }
  .real-estate-section > * {
    width: 70vw;
    margin: 0 auto !important;
    margin-top: 3vh !important;
  }
}
