.graph-section {
  display: flex;
}
.graph-section div {
  width: 45vw;
  height: 45vh;
}
@media only screen and (max-width: 768px) {
  .graph-section {
    display: block;
  }
  .graph-section div {
    width: 90vw;
    height: 45vh;
  }
}
