.profile-container {
  margin-top: 80px;
  margin-left: 5vw;
  margin-right: 5vw;
}
.profile-container .top .ant-menu-item-selected {
  color: #5e17eb !important;
}
.profile-container .top .ant-menu-item-selected:after {
  border-bottom: 2px solid #5e17eb !important;
}
.profile-container .top .ant-menu-item:hover {
  color: #5e17eb !important;
}
.profile-container .top .ant-menu-item:hover::after {
  border-bottom: 2px solid white !important;
}
.main {
  margin-top: 3vh;
}
.profile-section .header {
  display: flex;
  justify-content: flex-start;
  gap: 1vw;
  align-items: center;
}
.profile-section .header .img img {
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
}
.profile-section .header .self {
  text-align: left;
}
.profile-section .header .self p {
  line-height: 0.1;
}
.profile-section .header .self p:first-child {
  font-size: 2.5vw;
}
.profile-section .header .self p:nth-child(2) {
  font-size: 1.5vw;
  color: orangered;
}
.profile-section .header .self p:last-child {
  font-size: 1.2vw;
  margin-top: 5vh;
}
.profile-view {
  height: 50vh;
  width: auto;
}
.profile-view canvas {
  height: 50vh !important;
  width: auto !important;
}

@media only screen and (max-width: 992px) {
  .profile-section .header {
    display: block;
  }
  .profile-section .header .img img {
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
  }
  .profile-section .header .self p:first-child {
    margin-top: 2vh;
    font-size: 3vh;
  }
  .profile-section .header .self p:nth-child(2) {
    font-size: 2.5vh;
    color: orangered;
  }
  .profile-section .header .self p:last-child {
    font-size: 2vh;
    margin-top: 1vh;
  }
}
