.profile-container {
  margin-top: 80px;
  margin-left: 5vw;
  margin-right: 5vw;
}
.profile-container .top .ant-menu-item-selected {
  color: #5e17eb !important;
}
.profile-container .top .ant-menu-item-selected:after {
  border-bottom: 2px solid #5e17eb !important;
}
.profile-container .top .ant-menu-item:hover {
  color: #5e17eb !important;
}
.profile-container .top .ant-menu-item:hover::after {
  border-bottom: 2px solid white !important;
}
.main {
  margin-top: 3vh;
}
.profile-section .header {
  display: flex;
  justify-content: flex-start;
  gap: 1vw;
  align-items: center;
}
.profile-section .header .img img {
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
}
.profile-section .header .self {
  text-align: left;
}
.profile-section .header .self p {
  line-height: 0.1;
}
.profile-section .header .self p:first-child {
  font-size: 2.5vw;
}
.profile-section .header .self p:nth-child(2) {
  font-size: 1.5vw;
  color: orangered;
}
.profile-section .header .self p:last-child {
  font-size: 1.2vw;
  margin-top: 5vh;
}
.profile-view {
  height: 50vh;
  width: auto;
}
.profile-view canvas {
  height: 50vh !important;
  width: auto !important;
}
.real-estate-section {
  margin-top: 5vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.real-estate-section > * {
  flex: 0 0 23%;
  margin: 1% 1%;
}
.graph-section {
  display: flex;
}
.graph-section div {
  width: 45vw;
  height: 45vh;
}

.create-entry-section {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}
.create-entry-section .steps-content {
  min-height: 60vh;
  margin-top: 5px;
  padding-top: 20px;
  text-align: center;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
}

.create-entry-section .steps-action {
  margin-top: 10px;
}
